<!DOCTYPE html>
<html lang="en" ng-app="editableItem">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<div class="main-article" make-editable>
  <p>Hello There! This is editable.</p>
</div>

<script type="text/ng-template" id="wrapElement.html">
  <div class="make-editable-wrapper" >
    <button class="button edit-button" ng-if="editMode" ng-click="save()">Save</button>
    <button class="button edit-button" ng-if="editMode==false" ng-click="edit()">Edit</button>
    <div class="make-editable-content" ng-attr-contenteditable="{{editMode}}" ng-transclude>
    </div>
  </div>
</script>
<script src="angular.js"></script>
<script src="app.js"></script>
</body>
</html>